*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    
}

header{
    position:relative;
    width: 100%;
    height:75px;
    background-color: #165998;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

img{
    height: 105px;
}

header div{
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botoesheader{
    width: 130px;
    height: 50px;
    background-color: #1900ff;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.espaco{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ocorrencia{
    width: 500px;
    height: 400px;
    border: 3px solid black;
    margin-top: 15px;
    margin-left: 30px;
    color: black;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
}

.partecima{
    width: 497px;
    height: 45px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
}

.assunto{
    padding-left: 8px;
    width: 100%;
    height: 45px;
    flex-direction: row;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.quem{
    width: 100%;
    height: 45px;
    flex-direction: row;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding-right: 8px;
    font-size: 20px;
}

.partetexto{
    width: 100%;
    height: 310px;
}

.texto{
    font-size: 24px;
    padding-left: 8px;
    padding-top: 8px;
}

.partebaixo{
    width: 497px;
    height: 40px;
    border-top: 3px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.concluido{
    font-size: 20px;
    color: greenyellow;
    font-weight: bold;
    padding-left: 8px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(131, 130, 130);
}

.emandamento{
    font-size: 20px;
    color:rgb(255, 255, 0);
    font-weight: bold;
    padding-left: 8px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(131, 130, 130);
}